{% extends 'index.html' %}

<!-- PRODUCTS -->
{% block home %}
    <section class="section products">
    <div class="products-layout container">
      <div class="col-1-of-4">
        <div>
          <div class="block-title">
            <h3>Danh Mục Sản Phẩm</h3>
          </div>

          <div>
            <div class="block-title">
              <h4>Trang trí bên trong</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Thảm các loại</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Cằm bảo hiểm</span>
                  <small>(7)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Khay hộp các loại</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Tựa lưng gối đầu</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Phụ kiện điện thoại</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Phụ kiện để chân</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Khánh và tinh dầu treo</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Tượng và Trang trí</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Nước hoa</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Móc khóa bao da</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Móc khóa</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Máy lọc không khí</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Chắn nắng</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Bọc vô lăng</span>
                  <small>(3)</small>
                </label>
              </li>
            </ul>
          </div>

          <div>
            <div class="block-title">
              <h4>Đồ điện công nghệ</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Đồ điện khác</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Camera lùi</span>
                  <small>(7)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Báo lùi</span>
                  <small>(3)</small>
                </label>
              </li>
            </ul>
          </div>

          <div>
            <div class="block-title">
              <h4>Trang trí bên ngoài</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Chuột khiển còi</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Phụ kiện gương xe</span>
                  <small>(7)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Bạt phủ xe và gạt mưa</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Đồ dán trang trí</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Bơm và Dây câu</span>
                  <small>(3)</small>
                </label>
              </li>
            </ul>
          </div>

          <div>
            <div class="block-title">
              <h4>Sản phẩm chăm sóc</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Dán và khăn lau xe</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Dung dịch</span>
                  <small>(7)</small>
                </label>
              </li>
            </ul>
          </div>

          <div>
            <div class="block-title">
              <h4>Phụ tùng đồ lọc</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Moter bơm xăng</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Lọc gió</span>
                  <small>(7)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Lọc dầu</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Lọc xăng</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Lọc điều hòa</span>
                  <small>(3)</small>
                </label>
              </li>
            </ul>
          </div>

          <div>
            <div class="block-title">
              <h4>Phụ tùng máy gầm</h4>
            </div>
            <ul class="block-content">
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Cao su các loại</span>
                  <small>(10)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Dây các loại</span>
                  <small>(7)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Tụi lái văn hằng nhiệt XUPAP</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Giảm sóc, ROTUYH</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Má phanh, Moay ơ</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Giocy phớt pitong</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Bàn ép - Bite- Lá cân</span>
                  <small>(3)</small>
                </label>
              </li>
              <li>
                <input type="checkbox" name="" id="">
                <label for="">
                  <span>Bugi</span>
                  <small>(3)</small>
                </label>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-3-of-4">
        <form action="">
          <div class="item">
            <label for="sort-by">Lọc sản phẩm</label>
            <select name="sort-by" id="sort-by">
              <option value="title" selected="selected">Theo tên A -> Z</option>
              <option value="number">Theo tên Z -> A</option>
              <option value="search_api_relevance">Theo giá từ cao xuống thấp</option>
              <option value="created">Theo giá từ thấp lên cao</option>
            </select>
          </div>
          <a href="">Lọc</a>
        </form>

        <div class="product-layout">
          {% for product in all_product %}
              <div class="product">
                <div class="img-container">
                  <img src="{{ product.product_image.url }}" alt="" />
                  <div class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                  </div>

                  <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                  </ul>
                </div>
                <div class="bottom">
                  <a href="{% url 'product-details' product.id %}">{{ product.product_name }}</a>
                  <div class="price">
                    <span>150.000đ</span>
                  </div>
                </div>
              </div>
          {% endfor %}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product2.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product3.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product4.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product5.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product6.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product7.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product8.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product9.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product10.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product11.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product6.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product2.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product4.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="product">#}
{#            <div class="img-container">#}
{#              <img src="./images/product7.jpg" alt="" />#}
{#              <div class="addCart">#}
{#                <i class="fas fa-shopping-cart"></i>#}
{#              </div>#}
{##}
{#              <ul class="side-icons">#}
{#                <span><i class="fas fa-search"></i></span>#}
{#                <span><i class="far fa-heart"></i></span>#}
{#                <span><i class="fas fa-sliders-h"></i></span>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="bottom">#}
{#              <a href="">Nước hoa wine mới</a>#}
{#              <div class="price">#}
{#                <span>150.000đ</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

        </div>
        <!-- PAGINATION -->
        <div class="pagination">
          <ul> </ul>
        </div>
      </div>
    </div>
    </section>

{% endblock %}